<h1> Your name is <%= @name %> </h1>

<b> Rock, paper or scissors? </b>

<form action="/whatmove" method="post"> 
<input type="text" name="move"  placeholder="What's your move?">
<input type="submit" value="submit">
</form> 


