<legend>When is your birthday</legend>

<form action="/birthday" method="post"> 
<input id="textinput" name="name" type="text" placeholder="name"></br>
</br>
<input id="textinput" name="date" type="text" placeholder="date"></br>
</br>
<input id="textinput" name="month" type="text" placeholder="month"></br>
</br>
<input type="submit" value="submit">

</fieldset>
</form> 